server:
  port: 8081
eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka
  instance:
    hostname: account
management:
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://jaeger:4318/v1/traces