server:
  port: 8081

spring:
  application:
    name: service-account
  datasource:
    url: jdbc:postgresql://postgresql:5432/app_db
    username: app_user
    password: app_password
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka

management:
  tracing:
    sampling:
      probability: 1.0
    export:
      otlp:
        enabled: true
  otlp:
    tracing:
      endpoint: http://jaeger:4318/v1/traces
